In [197]:
import pandas as pd
import seaborn as sns

from sklearn.model_selection import train_test_split

from sklearn import linear_model

from sklearn.metrics import mean_squared_error, r2_score

In [108]:
df = pd.read_csv("train.csv")
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [109]:
dfFinal = df.copy()

Feature Extraction

In [110]:
columnsOHE = list(df.columns[df.dtypes == "object"])
columnsOHE

['MSZoning',
 'Street',
 'Alley',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 'KitchenQual',
 'Functional',
 'FireplaceQu',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'PoolQC',
 'Fence',
 'MiscFeature',
 'SaleType',
 'SaleCondition']

In [111]:
columnsOHE.append("MSSubClass")
columnsOHE

['MSZoning',
 'Street',
 'Alley',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 'KitchenQual',
 'Functional',
 'FireplaceQu',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'PoolQC',
 'Fence',
 'MiscFeature',
 'SaleType',
 'SaleCondition',
 'MSSubClass']

In [112]:
df.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [113]:
df.describe(include=[object])

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
count,1460,1460,91,1460,1460,1460,1460,1460,1460,1460,...,1379,1379,1379,1379,1460,7,281,54,1460,1460
unique,5,2,2,4,4,2,5,3,25,9,...,6,3,5,5,3,3,4,4,9,6
top,RL,Pave,Grvl,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Norm,...,Attchd,Unf,TA,TA,Y,Gd,MnPrv,Shed,WD,Normal
freq,1151,1454,50,925,1311,1459,1052,1382,225,1260,...,870,605,1311,1326,1340,3,157,49,1267,1198

In [166]:
col_with_null_val = []
lenDf = len(df)

# for c in df.columns:
for c in columnsOHE:
    if df[c].count() != lenDf:
        col_with_null_val.append(c)
    
col_with_null_val

['Alley',
 'MasVnrType',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Electrical',
 'FireplaceQu',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PoolQC',
 'Fence',
 'MiscFeature']

In [167]:
df1 = df.copy()
for col in col_with_null_val:
    df1[col] = df1[col].fillna("NoVal")

In [168]:
df1

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NoVal,Reg,Lvl,AllPub,...,0,NoVal,NoVal,NoVal,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NoVal,Reg,Lvl,AllPub,...,0,NoVal,NoVal,NoVal,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NoVal,IR1,Lvl,AllPub,...,0,NoVal,NoVal,NoVal,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NoVal,IR1,Lvl,AllPub,...,0,NoVal,NoVal,NoVal,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NoVal,IR1,Lvl,AllPub,...,0,NoVal,NoVal,NoVal,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NoVal,Reg,Lvl,AllPub,...,0,NoVal,NoVal,NoVal,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NoVal,Reg,Lvl,AllPub,...,0,NoVal,MnPrv,NoVal,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NoVal,Reg,Lvl,AllPub,...,0,NoVal,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NoVal,Reg,Lvl,AllPub,...,0,NoVal,NoVal,NoVal,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NoVal,Reg,Lvl,AllPub,...,0,NoVal,NoVal,NoVal,0,6,2008,WD,Normal,147500

In [169]:
df.describe(include=[object])

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
count,1460,1460,91,1460,1460,1460,1460,1460,1460,1460,...,1379,1379,1379,1379,1460,7,281,54,1460,1460
unique,5,2,2,4,4,2,5,3,25,9,...,6,3,5,5,3,3,4,4,9,6
top,RL,Pave,Grvl,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Norm,...,Attchd,Unf,TA,TA,Y,Gd,MnPrv,Shed,WD,Normal
freq,1151,1454,50,925,1311,1459,1052,1382,225,1260,...,870,605,1311,1326,1340,3,157,49,1267,1198

In [170]:
df1.describe(include=[object])

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
count,1460,1460,1460,1460,1460,1460,1460,1460,1460,1460,...,1460,1460,1460,1460,1460,1460,1460,1460,1460,1460
unique,5,2,3,4,4,2,5,3,25,9,...,7,4,6,6,3,4,5,5,9,6
top,RL,Pave,NoVal,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Norm,...,Attchd,Unf,TA,TA,Y,NoVal,NoVal,NoVal,WD,Normal
freq,1151,1454,1369,925,1311,1459,1052,1382,225,1260,...,870,605,1311,1326,1340,1453,1179,1406,1267,1198

In [171]:
df1[df1.isnull().any(axis=1)]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
7,8,60,RL,NaN,10382,Pave,NoVal,IR1,Lvl,AllPub,...,0,NoVal,NoVal,Shed,350,11,2009,WD,Normal,200000
12,13,20,RL,NaN,12968,Pave,NoVal,IR2,Lvl,AllPub,...,0,NoVal,NoVal,NoVal,0,9,2008,WD,Normal,144000
14,15,20,RL,NaN,10920,Pave,NoVal,IR1,Lvl,AllPub,...,0,NoVal,GdWo,NoVal,0,5,2008,WD,Normal,157000
16,17,20,RL,NaN,11241,Pave,NoVal,IR1,Lvl,AllPub,...,0,NoVal,NoVal,Shed,700,3,2010,WD,Normal,149000
24,25,20,RL,NaN,8246,Pave,NoVal,IR1,Lvl,AllPub,...,0,NoVal,MnPrv,NoVal,0,5,2010,WD,Normal,154000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1443,1444,30,RL,NaN,8854,Pave,NoVal,Reg,Lvl,AllPub,...,0,NoVal,NoVal,NoVal,0,5,2009,WD,Normal,121000
1446,1447,20,RL,NaN,26142,Pave,NoVal,IR1,Lvl,AllPub,...,0,NoVal,NoVal,NoVal,0,4,2010,WD,Normal,157900
1449,1450,180,RM,21.0,1533,Pave,NoVal,Reg,Lvl,AllPub,...,0,NoVal,NoVal,NoVal,0,8,2006,WD,Abnorml,92000
1450,1451,90,RL,60.0,9000,Pave,NoVal,Reg,Lvl,AllPub,...,0,NoVal,NoVal,NoVal,0,9,2009,WD,Normal,136000
1453,1454,20,RL,90.0,17217,Pave,NoVal,Reg,Lvl,AllPub,...,0,NoVal,NoVal,NoVal,0,7,2006,WD,Abnorml,84500

In [172]:
df1

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NoVal,Reg,Lvl,AllPub,...,0,NoVal,NoVal,NoVal,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NoVal,Reg,Lvl,AllPub,...,0,NoVal,NoVal,NoVal,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NoVal,IR1,Lvl,AllPub,...,0,NoVal,NoVal,NoVal,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NoVal,IR1,Lvl,AllPub,...,0,NoVal,NoVal,NoVal,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NoVal,IR1,Lvl,AllPub,...,0,NoVal,NoVal,NoVal,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NoVal,Reg,Lvl,AllPub,...,0,NoVal,NoVal,NoVal,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NoVal,Reg,Lvl,AllPub,...,0,NoVal,MnPrv,NoVal,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NoVal,Reg,Lvl,AllPub,...,0,NoVal,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NoVal,Reg,Lvl,AllPub,...,0,NoVal,NoVal,NoVal,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NoVal,Reg,Lvl,AllPub,...,0,NoVal,NoVal,NoVal,0,6,2008,WD,Normal,147500

In [204]:
df2 = pd.concat([df1, pd.get_dummies(df1[columnsOHE], dtype=int)], axis=1)
df2 = df2.drop(columns=columnsOHE)
df2 = df2.dropna()

In [205]:
df2["SalePrice"]

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1121, dtype: int64

In [206]:
X = df2.drop(columns=["SalePrice", "Id"])
Y = df2["SalePrice"]

In [207]:
Y

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1121, dtype: int64

In [208]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [209]:
rows_with_null = X_train[X_train.isnull().any(axis=1)]
rows_with_null

Empty DataFrame
Columns: [LotFrontage, LotArea, OverallQual, OverallCond, YearBuilt, YearRemodAdd, MasVnrArea, BsmtFinSF1, BsmtFinSF2, BsmtUnfSF, TotalBsmtSF, 1stFlrSF, 2ndFlrSF, LowQualFinSF, GrLivArea, BsmtFullBath, BsmtHalfBath, FullBath, HalfBath, BedroomAbvGr, KitchenAbvGr, TotRmsAbvGrd, Fireplaces, GarageYrBlt, GarageCars, GarageArea, WoodDeckSF, OpenPorchSF, EnclosedPorch, 3SsnPorch, ScreenPorch, PoolArea, MiscVal, MoSold, YrSold, MSZoning_C (all), MSZoning_FV, MSZoning_RH, MSZoning_RL, MSZoning_RM, Street_Grvl, Street_Pave, Alley_Grvl, Alley_NoVal, Alley_Pave, LotShape_IR1, LotShape_IR2, LotShape_IR3, LotShape_Reg, LandContour_Bnk, LandContour_HLS, LandContour_Low, LandContour_Lvl, Utilities_AllPub, Utilities_NoSeWa, LotConfig_Corner, LotConfig_CulDSac, LotConfig_FR2, LotConfig_FR3, LotConfig_Inside, LandSlope_Gtl, LandSlope_Mod, LandSlope_Sev, Neighborhood_Blmngtn, Neighborhood_Blueste, Neighborhood_BrDale, Neighborhood_BrkSide, Neighborhood_ClearCr, Neighborhood_CollgCr, Neighborhood_Crawfor, Neighborhood_Edwards, Neighborhood_Gilbert, Neighborhood_IDOTRR, Neighborhood_MeadowV, Neighborhood_Mitchel, Neighborhood_NAmes, Neighborhood_NPkVill, Neighborhood_NWAmes, Neighborhood_NoRidge, Neighborhood_NridgHt, Neighborhood_OldTown, Neighborhood_SWISU, Neighborhood_Sawyer, Neighborhood_SawyerW, Neighborhood_Somerst, Neighborhood_StoneBr, Neighborhood_Timber, Neighborhood_Veenker, Condition1_Artery, Condition1_Feedr, Condition1_Norm, Condition1_PosA, Condition1_PosN, Condition1_RRAe, Condition1_RRAn, Condition1_RRNe, Condition1_RRNn, Condition2_Artery, Condition2_Feedr, Condition2_Norm, ...]
Index: []

[0 rows x 302 columns]

In [210]:
reg = linear_model.LinearRegression()

reg.fit(X_train, Y_train)

LinearRegression()

In [211]:
Y_pred = reg.predict(X_test)

In [213]:
mean_squared_error(Y_test, Y_pred)

2007322530.6061022